set version 17.4R1.16
set system host-name VMX3
set system root-authentication encrypted-password "$6$gBgJjIe1$wE32K1A4j8ja3t6l5NVAUVtx24ayPx2JmTk3hVyAmI0ukL.yb/iXhT135munOyNFfVVApzgfG5SWke7IkQfYa1"
set interfaces ge-0/0/0 unit 0 family inet address 20.3.7.3/24
set interfaces ge-0/0/0 unit 0 family inet6 address 2001:db8:3:7::3/64
set interfaces ge-0/0/1 unit 0 family inet address 10.3.5.3/24
set interfaces ge-0/0/1 unit 0 family inet6
set interfaces ge-0/0/1 unit 0 family mpls
set interfaces fxp0 unit 0 family inet dhcp vendor-id Juniper-vmx-VM5C86B49359
set interfaces lo0 unit 0 family inet address 3.3.3.3/32
set routing-options autonomous-system 1
set protocols mpls ipv6-tunneling
set protocols mpls interface all
set protocols mpls interface ge-0/0/1.0
set protocols bgp group GP_IBGP local-address 3.3.3.3
set protocols bgp group GP_IBGP peer-as 1
set protocols bgp group GP_IBGP neighbor 6.6.6.6 family inet unicast
set protocols bgp group GP_IBGP neighbor 6.6.6.6 family inet6 labeled-unicast explicit-null
set protocols bgp group GP_EBGP neighbor 20.3.7.7 family inet unicast
set protocols bgp group GP_EBGP neighbor 20.3.7.7 peer-as 7
set protocols bgp group GP_EBGP neighbor 2001:db8:3:7::7 family inet6 unicast
set protocols bgp group GP_EBGP neighbor 2001:db8:3:7::7 peer-as 7
set protocols ospf area 0.0.0.0 interface ge-0/0/1.0
set protocols ospf area 0.0.0.0 interface lo0.0
set protocols ldp interface ge-0/0/0.0 disable
set protocols ldp interface all
